@model CongThongTin.Models.Phone_number

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phone_number</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Loại sim số")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_TypeIDNavigation.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Giá")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_TypeIDNavigation.cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Thể loại tin")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_numberIDNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
