@model IEnumerable<CongThongTin.Models.Cuahang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaCH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenCH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDmap)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDmap)
            </td>
            <td>
                <a class="text-danger" asp-action="Edit" asp-route-id="@item.MaCH">Edit</a>
            </td>
            <td>
                <a class="text-primary" asp-action="Delete" asp-route-id="@item.MaCH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
